/* Variables */

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1300px
);

$theme-colors: (
  primary: rgb(51, 40, 66),
  secondary: rgb(22, 54, 87),
  dark: rgb(29, 29, 29),
  info: rgb(22, 54, 87),
  info-hover: #3B8190
);
