.authenticated {
  position: relative;
  background: #f3f3f3;

  .inner {
    margin: 0 auto;
    padding: 30px 0;
    display: flex;

    @media only screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  .sidebar {
    @media only screen and (min-width: 768px) {
      flex-shrink: 0;
      width: 324px;
      margin-right: 60px;
    }
    @media only screen and (min-width: 1200px) {
      margin-right: 109px;
    }

    .card-rewards {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  .content {
    flex-grow: 1;

    .module {
      clear: both;
    }

    .authenticated-hdr {
      &:after {
        display: block;
        content: '';
        clear: both;
      }

      h1 {
        color: rgb(31, 15, 17);
        font-size: 22px;
        line-height: 36px; 
        @media only screen and (min-width: 992px) {
          float: left;
          margin: 0 0 25px 0;
        }
      }
  
      .things-i-can-do {
        @media only screen and (min-width: 992px) {
          float: right;
        }
      }
    }
  }

  // Columns
  .auth-columns {
    @media only screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 -20px;
      .auth-column {
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: 0 20px;
      }
    }
  }

  // Gray Columns
  .grey-columns {
    clear: both;
    @media only screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    margin: 0 -10px;
    .grey-column {
      background: rgb(243, 243, 243);
      border-radius: 12px;
      padding: 15px;
      margin: 0 10px;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;

      h4 {
        font-size: 24px;
        line-height: 31px;
      }
      
      p {
        font-size: 16px;
        margin: 0 0 15px 0;
      }

      .btn-primary {
        font-size: 16px;
      }
    }
  }
}