/* HeroHome */

@import '../../styles/variables.scss';
@import '../../styles/typography.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/bootstrap-grid';

.jumbotron-hero-home {
  background-size: cover;
  position: relative;
  margin: 0;
  padding-top: 180px;

  @include media-breakpoint-down(sm) {
    padding: 1.5rem 0;
  }

  .container {
    position: relative;
    z-index: 3;

    h1 {
      color: rgb(22, 54, 87);
      font-size: 48px;
      font-weight: 700;
      margin-top: 2rem;
      margin-bottom: 1rem;

      @include media-breakpoint-down(sm) {
        font-size: 32px;
        margin-top: 0;
      }
    }

    p.lead {
      color: rgb(22, 54, 87);
      margin-bottom: 2rem;
      font-size: 16px;
    }

    .card-rewards {
      box-shadow: 0px 2px 20px 0px rgba(31, 15, 17, 0.11);

      @include media-breakpoint-up(lg) {
        height: 480px;
        margin-bottom: -8rem;

        img.img-credit-card {
          max-width: 350px;
          bottom: -10px;
          right: -2px;
        }
      }

      @include media-breakpoint-down(md) {
        margin-top: 3rem;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 2rem;
        margin-bottom: 0;

        img.img-credit-card {
          max-width: 350px;
          bottom: -120px;
          right: -80px;
        }
      }
    }
  }
}

section.section-home-cta-bar {
  background: theme-color("secondary");
  padding-top: 2.1rem;
  padding-bottom: 2rem;

  h3 {
    display: inline-block;
    position: relative;
    @include capitolium-2-reg; 
    color: white;
    font-size: 18px;
    padding: 0 20px 0 0;
    margin: 0 20px 0 0;

    @media only screen and (min-width: 992px) {
      font-size: 24px;
      &:after {
        content: "";
        width: 1px;
        height: 24px;
        border-left: 1px solid #ffffff;
        position: absolute;
        right: 0;
        top: 4px;
      }
    }
  }

  p {
    @include capitolium-2-reg; 
    font-size: 18px;
    display: inline-block;
    color: white;
    margin: 0;

    @media only screen and (min-width: 992px) {
      font-size: 24px;
    }

    a {
      position: relative;
      display: inline-block;
      @include filson-soft-light;
      color: white;
      font-size: 16px;
      margin: 0 5px;
      padding: 0 18px 0 0;

      @media only screen and (min-width: 992px) {
        font-size: 20px;
      }

      &:hover {
        @include filson-soft-medium;
      }

      &:first-of-type {
        padding-left: 5px;
      }

      &:after {
        content: "";
        position: absolute;
        top: 9px;
        right: 0;
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid white;

        @media only screen and (min-width: 992px) {
          top: 12px;
        }
      }
    }
  }
}

section.section-home-features {
  padding-top: 2rem;
  padding-bottom: 1rem;

  @media only screen and (min-width: 992px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  .btn-link {
    padding-left: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.5rem;
    }
  }
}
